@tailwind base;
@tailwind components;
@tailwind utilities;


.content {
  background-color: rgb(233, 233, 245);
  display: flex;
  height: 600px;
  width: 100%;
  justify-content: flex-start;
}

.diagonal {
  border-top: 37.5rem solid rgba(75, 74, 239, 1);
  border-right: 180px solid rgb(233, 233, 245);
 
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diagonal img {
  position: absolute;
  top: 63%;
  left: 60%;
  transform: translate(-50%, -50%);
  /* position: fixed; */
}
.img-1 {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  /* position: fixed; */
}
.text{
  position: absolute;
  top: 56%;
  left: 20%;
  height: 25rem;
  width: 30%;
  /* border: 2px solid black; */
  transform: translate(-50%, -50%);
}



/* .relative.group .hidden {
  display: none;
 
}

.block.px-4.py-2 {
  width: 30rem; 
  text-align: center;
  flex-direction: column;

} */

